<template>
  <h2>{{ mensaje }}</h2>
  <h3>MI NONBRE ES: {{ nombre.nombre }}</h3>
  <button @click="cambiarMensaje('Nuevo mensaje')">Cambiar mensaje</button>
  <h2>La suma es: {{ suma }}</h2>

  <div v-if="valor <= 1">
    <h3>EL VALOR ES MENOR O IGUAL A UNO: {{ valor }}</h3>
    <p>{{ valor }}</p>
  </div>
  <div v-else-if="valor <= 3">
    <h3>EL VALOR ES MENOR O IGUAL A TRES:</h3>
  </div>
  <div v-else>
    <h3>EL VALOR ES MAYOR A 3</h3>
  </div>

  <h2>Los nombres son:</h2>
</template>

<!-- <script setup>
import { ref } from "vue";
let name = ref("Manuel");
</script>
 -->
<script>
import { ref, reactive, computed, onMounted } from "vue";

// ref -> String, Number y boleanos
// reactive -> objetos y arrays
export default {
  setup() {
    let mensaje = ref("Hola mundo v3");
    let nombre = reactive({
      nombre: "manuel",
    });
    let num1 = 5;
    let num2 = 10;
    let valor = ref(0);

    console.log(mensaje);

    const cambiarMensaje = (newMensaje) => {
      console.log("Dentro de la función de cambiar mensaje");
      mensaje.value = newMensaje;
      nombre.nombre = "Pedro";
      console.log("Mensaje cambiado");
      console.log(mensaje);
    };

    const suma = computed(() => {
      return num1 + num2;
    });

    onMounted(() => {
      console.log("Se genera una ves cargado el modulo v3");
    });

    cambiarMensaje();

    return {
      mensaje,
      nombre,
      cambiarMensaje,
      suma,
      valor,
    };
  },
};
</script>

<style></style>
