<template>
  <div>
    <h2>{{ mensaje }}</h2>
    <h3>MI NONBRE ES: {{ name }}</h3>
    <button @click="cambiarMensaje('Nuevo mensaje')">Cambiar mensaje</button>
    <h2>{{ `El valor de la suma es ${calcularValor}` }}</h2>
    <h2>{{ `El valor de la suma es ${calcularValor}` }}</h2>
    <h2>{{ `El valor de la suma es ${calcularValor}` }}</h2>
  </div>
</template>

<script>
let name1 = "qqqqqq";
export default {
  name: "holaMundo",
  data() {
    return {
      mensaje: "Hola Mundo mundial",
      name: "Manuel Armijos",
      name1,
      num1: 10,
      num2: 5,
    };
  },
  created() {
    console.log("Renderizando el componante Hola mundo created");
    this.cambiarMensaje("Bienvenido");
  },
  mounted() {
    console.log("Renderizando el componante Hola mundo mounted");
  },
  methods: {
    cambiarMensaje(newMensaje) {
      console.log(newMensaje);
      this.mensaje = newMensaje;
    },
    calcularValorMethods() {
      console.log("Calcular valor en método");
      return this.num1 + this.num2;
    },
  },
  computed: {
    calcularValor() {
      console.log("Detro de calcular valor de computed");
      return this.num1 + this.num2;
    },
  },
};
</script>

<style></style>
