<template>
  <img v-if="imagen" :src="imagen" />
  <div class="fondo"></div>
  <div class="pregunta">
    <input v-model="pregunta" type="text" placeholder="Hazme una pregunta" />
    <p>Recuerda terminar la pregunta con un signo de interrogación ?</p>
  </div>
  <div class="respuesta">
    <p>Pregunta: {{ preguntaFinal }}</p>
    <p>Respuesta: {{ respuesta }}</p>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
import axios from "axios";

let pregunta = ref(null);
let respuesta = ref(null);
let imagen = ref(null);
let preguntaFinal = ref(null);

const obtenerRespuesta = async () => {
  const { answer, image } = await axios
    .get("https://yesno.wtf/api")
    .then((response) => {
      return response.data;
    });
  respuesta.value = answer;
  imagen.value = image;
};

watch(pregunta, (current, prev) => {
  console.log(current);
  console.log(prev);
  if (current.includes("?")) {
    preguntaFinal.value = current;
    obtenerRespuesta();
  }
});
</script>

<style>
img,
.fondo {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
}

.fondo {
  background-color: rgba(0, 0, 0, 0.4);
}

.pregunta,
.respuesta {
  position: relative;
}

.respuesta {
  margin-top: 20%;
}

P {
  color: white;
  font-size: 30px;
}

input {
  width: 40%;
  height: 50px;
}
</style>
