<template>
  <!-- <h1>MI PRIMERO COMPONENTE</h1>
  <HolaMundo />
  <h1>MI PRIMER COMPONENTE V3</h1>
  <HolaMundo3 /> -->
  <!-- <router-view /> -->
  <PreguntaRespuesta></PreguntaRespuesta>
</template>

<script>
import PreguntaRespuesta from "./components/PreguntaRespuesta.vue";
/*  import HolaMundo from "../src/components/HolaMundo";
import HolaMundo3 from "../src/components/HolaMundo3"; */
export default {
  components: {
    /*  HolaMundo,
    HolaMundo3, */
    PreguntaRespuesta,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
